.grid-container {
  width: 80%;
  padding-left: 10%;
  margin: 10px;
  display: grid;
  grid-template: 150px 150px/ 32% 32% 32%;
  grid-gap: 2%;
  grid-row-gap: 5%;
}

.grid-container img{
  height:150px;
  width: 120px;
  border: 5px groove;
  border-radius: 12px;
}
.staff {
  font-weight: bold;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

.smallGrid{
  display: grid;
  grid-template: auto / auto auto;
}
.smallGrid:hover {
  transform: scale(1.1);
}

#aboutUs {
  background-image: url("vector1.jpg");
  background-size: cover;
}
