body{
  margin: 0;
}
#introVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

@keyframes displayNone {
    from {}
    to {display:none;}
}
@keyframes itworked {
  from {opacity:1;}
  to {opacity:0;}
}
