body{
  margin: 0;
  font-family: Georgia, serif;
}

.hidden {
  opacity: 0;
}

@keyframes itdontwork {
    from {opacity:0;}
    to {opacity:1;}
}

.show {
  animation: itdontwork;
  animation-duration: 600ms;
}

h1 {
  padding-top: 50px;
  font-size: 50px;
  letter-spacing: 0.2px;
  word-spacing: 2.8px;
  color: #24B949;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
  width: 60%;
  animation: fadeIn;
  animation-duration: 9s;
}
h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 0.2px;
  word-spacing: 2.8px;
  color: #24B949;
  font-weight: normal;
  text-decoration: none;
  font-style: italic;
  font-variant: normal;
  text-transform: none;
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }

}

section {
  height: 520px;
  position: relative;
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: -25px;
  border-bottom: 5px groove black;
}
